<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
	<title>Exchange Tool</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<div id="app" :key="exg">
		<div id="exchange">
			<h3> Exhange Calculator:</h3>
			<div >
				<div class="row-class">
					<select class="switch-item" v-model="selectedFromCurrency" @change="hasChangeExRate()" >
						<option v-for="(value, data) in Object(data.rates)"> {{data}}</option>
					</select>
					<input v-model="inputAmount" placeholder="edit me" v-on:keyup="write(inputAmount)" class="form-control">
				</div>
				<button class="btn btn-primary btn-sm" v-on:click="changePlaces()">switch</button>
				<div class="row-class">

					<select class="switch-item" v-model="selectedToCurrency" @change="hasChangeExRate()">
						<option v-for="(value, data) in Object(data.rates)"> {{data}}</option>
					</select>
				 <input v-model="outputAmount" placeholder="outputAmount"class="form-control" >
				</div>
			</div>


			<h3> CURRENCY: {{ exg }}</h3>
			<div>
				<ul>
					<li v-for="(value, data) in Object(data.rates)"> <button class="btn btn-primary btn-sm" v-on:click="clicked(data)"> {{data}} </button> : {{value}} </li>
				</ul>
			</div>
			
		</div>
	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>