 body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
  }
 
  .disabledButton {
    background-color: #d8d8d8;
  }

  .row-class{
    display: flex;
   
  }
  
  .review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
  }
  
  input {
    width: 100%;  
    height: 25px;
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    height: 60px;
  }

  .tab {
    margin-left: 20px;
    cursor: pointer;
  }

  .activeTab {
    color: #16C0B0;
    text-decoration: underline;
  }

  .btn{
    min-width: 10%;
    margin: 0.2%;
  }

  .form-control{
    margin: 0.5%;
  }


  ul {
    list-style-type: none;
  }
  .switch-item{
    margin-left: 1%;
    border-radius: 10%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  }
  .switch-item:hover {
    border-color: #888;
  }
  
